*::after,
*::before,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.innerBox {
    background-color: aqua;
}
.bot{
	background-color:red;
}
.container innerBox heading{
	display: inline-flexbox;
}